# Server
PORT=4000
NODE_ENV=development

# Firebase Admin
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Liveblocks
LIVEBLOCKS_SECRET_KEY=

# Piston
PISTON_URL=http://localhost:2000

# Redis (optional for production)
REDIS_URL=redis://localhost:6379
